/*
                    .__      ___.   .__                 
___  _______ _______|__|____ \_ |__ |  |   ____   ______
\  \/ /\__  \\_  __ \  \__  \ | __ \|  | _/ __ \ /  ___/
 \   /  / __ \|  | \/  |/ __ \| \_\ \  |_\  ___/ \___ \ 
  \_/  (____  /__|  |__(____  /___  /____/\___  >____  >
            \/              \/    \/          \/     \/ 
*/








/* ============================================ */
* {
  margin: 0;
  padding: 0;
}
h1 {
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
}
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 25px 0 25px 0;
}
footer h3{
  font-size: 13px;
}
footer a {
  color: grey;
  text-decoration: none;
}
footer a:hover {
  color: white;
  text-decoration: underline;
}
.bannerFooter {
  background: url(../../assets/images/banner.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 150px 0 150px 0;
}
.bannerFooter h2 {
  font-size: 35px;
}
.bannerFooter p {
  font-size: 17px;
  padding: 10px 400px 0 400px;
}
.columnaCero {
  margin: 0;
  padding: 0 3px 0 3px;
}
.columnaCero img {
  height: auto;
  margin-bottom: 15px;
  width: 100%;
}
.datosInstitucionales {
  background-color: black;
  color: white;
  height: auto;
  padding: 50px 0 50px 0;
}
.datosInstitucionales h3 {
  font-size: 15px;
  line-height: 23px;
}
.datosInstitucionales a {
  color: grey;
  text-decoration: none;
}
.datosInstitucionales a:hover {
  color: grey;
  text-decoration: underline;
}
.hero {
  margin: 0;
  padding: 0;
}
.hero img {
  height: auto;
  margin: 0;
  padding: 0;
  width: 100%;
}
.logo {
  height: auto;
  margin: 0;
  padding: 10px;
}
.numeral {
  background-color: black;
  border-bottom: solid 1px white;
  color: white;
  height: auto;
  text-align: center;
  padding: 70px 0 70px 0;
}
.propiedadesDestacadas {
  background-color: black;
  color: white;
  height: auto;
}
.propiedadesDestacadas p {
  font-size: 13px;
}
.propiedadesEnConstruccion {
  height: auto;
  margin: 0;
  padding: 0;
  text-align: center;
}
.propiedadesEnConstruccion h2 {
  font-size: 18px;
  text-align: left;
}
.propiedadesEnConstruccion h3 {
  font-size: 13px;
  margin-bottom: 15px;
  text-align: left;
}
.btnVerMas {
  background-color: white;
  float: left;
  font-size: 12px;
  padding: 3px 10px 3px 10px;
}
.btnVerMasBanner {
  background-color: transparent;
  color: white;
  border: none;
  border: solid 1px white;
  font-size: 15px;
  padding: 5px 60px 5px 60px;
}
.titulos {
  font-size: 20px;
}
.textoNumeral {
  font-size: 60px;
  text-align: center;
}
.espacio {
  padding: 0;
  margin: 0;
}
.header {
  height: auto;
}
.header ul li {
  list-style: none;
  font-family: 'Oswald', sans-serif;
}
.header ul li a {
  text-decoration: none;
  color: black;
  padding: 5px 15px 5px 15px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.header ul li a:hover {
  background-color: #8FBD37;
  color: white;
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.lista {
  font-size: 14px;
}
.divisor {
  color: #8fbd37;
  padding: 0 30px 0 30px;
}
.redes {
  font-size: 25px;
  padding: 0 3px 0 3px;
}
.fa-instagram {
  color: black;
}
.fa-facebook-square {
  color: black;
}
.btnVerMasDestacados {
  background-color: black;
  border: solid 1px white;
  color: white;
  float: left;
  font-size: 12px;
  padding: 3px 10px 3px 10px;
}
.destacadas {
  background-color: black;
  color: white;
  margin: 0;
  padding: 70px 0 70px 0;
  height: auto;
}
.destacadas img {
  height: auto;
  width: 100%;
}
.achicadorColumnas {
  margin: 0;
  padding: 0;
}
.destacadas h2 {
  font-size: 18px;
}
.destacadas h3 {
  font-size: 15px;
}
.destacadas p {
  font-size: 13px;
}
.containerVenta {
  background-color: #FAFAFA;
  height: auto;
  padding: 20px 0 50px 0;
}
.espacio {
  padding: 70px 0 70px 0;
}
.nosotros {
  background-color: black;
  height: auto;
  color: white;
}
.colProfesional {
  margin: 0;
  padding: 0;
}
.colProfesional img {
  height: auto;
  width: 100%;
}
.colTexto {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}
.contacto {
  background-color: #FAFAFA;
  height: auto;
  padding: 50px 0 50px 0;
}
.telefono {
  background-color: white;
  border-radius: 25px;
  height: auto;
  border: solid 20px #FAFAFA;
  text-align: center;
  padding: 70px;
}
.chat {
  background-color: white;
  height: auto;
  border: solid 20px #FAFAFA;
  text-align: center;
  padding: 70px;
  border-radius: 25px;
}
.telefono h2 {
  font-size: 80px;
}
.telefono h3 {
  font-size: 18px;
}
.telefono h4 {
  font-size: 18px;
}
.telefono p {
  font-size: 14px;
  color: grey;
}
.chat h2 {
  font-size: 80px;
}
.chat h3 {
  font-size: 18px;
}
.chat h4 {
  font-size: 18px;
}
.chat p {
  font-size: 14px;
  color: grey;
}
.blog {
  background-color: #FAFAFA;
  color: #333;
  height: auto;
}
.blogTexto {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}
.btnVerMasBlog {
  background-color: none;
  border: solid 2px black;
  color: black;
  float: left;
  font-size: 12px;
  padding: 6px 10px 10px 6px;
  width: 13em;
}
.bienvenida {
  padding: 30px 30px 0 30px;
  font-size: 17px;
  font-family: 'Oswald', sans-serif;
  color: grey;
}
/* ============================================ */






/*
                   .___.__        
  _____   ____   __| _/|__|____   
 /     \_/ __ \ / __ | |  \__  \  
|  Y Y  \  ___// /_/ | |  |/ __ \_
|__|_|  /\___  >____ | |__(____  /
      \/     \/     \/         \/ 
                           .__               
  ________ __   ___________|__| ____   ______
 / ____/  |  \_/ __ \_  __ \  |/ __ \ /  ___/
< <_|  |  |  /\  ___/|  | \/  \  ___/ \___ \ 
 \__   |____/  \___  >__|  |__|\___  >____  >
    |__|           \/              \/     \/ 
*/

@media (min-width: 320px) {
  .numeral {
    height: auto;
    width: auto;
  }
  .textoNumeral {
    font-size: 30px;
  }
  footer {
    text-align: left;
  }
  .bannerFooter {
    height: auto;
  }
  .bannerFooter p {
    color: white;
    font-size: 20px;
  }
  .bannerFooter p {
    font-size: 17px;
    padding:  0
  }
  .blogCol1 {
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .blogCol2 {
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .blogCol3 {
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .telefono {
    margin: 0;
    padding: 15px;
  }
  .chat {
    margin: 0;
    padding: 15px;
  }
  .col1Nosotros1 {
    margin-bottom: 40px;
  }
  .col1Nosotros2 {
    margin-bottom: 40px;
  }
  .col1Nosotros3 {
    margin-bottom: 40px;
  }

}

@media (min-width: 375px) {}

@media (min-width: 414px) {}

@media (min-width: 425px) {}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}

@media (min-width: 1440px) {
  .textoNumeral {
    font-size: 70px;
  }
}

@media (min-width: 2560px) {}






.red {
  border: solid red;
}
.green {
  border: solid green;
}
.blue {
  border: solid blue;
}